@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: poppins;
  
}
body{
 
margin: 20px 40px 20px 40px;
}

.poppins{
    font-family: "poppins", sans-serif ;
    
  }
  
  /* header styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list{
    display: flex;
    gap: 20px;
    
  }
  .nav-list a{
    text-decoration: none;
    align-items: center;
    color: black;
  }
.nav-list li{
 list-style: none;
 
}
.nav-title{
  color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
}
.bnr-sec{
 justify-content: center;
  
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.banner-container{
  width: 576px;
  height: auto;

}
.banner-img{
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  margin-top: 20px;
  width: 475px;
  height: 475px;
}
.banner-title{
  color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 52px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0px;
text-align: left;
}
.banner-description{
  color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
.banner-btn{
  border: none;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  height: 44px;
  width: 196px;
  text-align: center;
  color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;

}

.sponsor{
  display: flex;
  justify-content: space-evenly;
  
  width: 100%;
  height: 30px;
  margin-top: 100px;
}
/* card section style */
.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
 .card-title{
  text-align: center;
 }
.cards{
  max-width: 1000px;;
  width: 100%;
  justify-items: center;
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}
.card1{
  border-radius: 5px;
  padding: 20px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
}
.card-btn{
  
 margin-top: 50px;
 margin-left: calc(100% - 75px);
 /* text-align: right ; */
   
}
.card-btn a{
  text-decoration: none;
border: none;
color: rgba(224, 44, 109, 0.87);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;

background:none;
}

/* .feature-{
  display: flex;
  justify-content: center;
} */
.feature-container{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.feature-title{
  color: rgb(10, 8, 38);
font-family: Poppins;
font-size: 38px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
}
.feature-description{
  color: rgb(108, 108, 108);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.join-btn{
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
width: 155px;
height: 48px;
border: none;
text-align: center;
}
.foot{
  align-items: center;
  padding: 100px auto;
  width: 100%;
}
.foot-title{
  color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: center;
}
.foot-description{
  color: rgb(217, 219, 225);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.foot-subtitle{
  color: rgb(217, 219, 225);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

@media screen and (max-width:576px) {
  .navbar{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .nav-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    
  }
  .banner-container{
    display: grid;
    width: 100%;
    
  }
  .banner-img{
    display: grid;
    grid-row: 1;
    
  }
  .sponsor{
    width: 275px;
    height: 65px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
   
  }
  .cards{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-btn{
    position: relative;
    margin-left: calc(100% - 75px);
  }
  .feature-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  .feature-img{
    grid-row: 2;
  }
}